:root {
  --primary-color: #dc8c19;
  --secondary-color: #4b3723;
  --accent-color: #695541;
  --shadow-color: #5a4632;
  --background-color: #282d2d;
}
:root {
  background-color: var(--background-color);
  color: white;
}

button.primary {
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 8px;
}
